{{!-- <h1>Sum of Array {{sum}}</h1> --}}

{{!-- {{#each numArray as number}}
    {{adderHelper sum number}}
{{/each}} --}}

{{!-- <p>Add Array{{adderHelper @numArray}}</p> --}}
{{!-- <p>{{numArray}} {{num1}}</p> --}}
<h2>adderHelper Function</h2>
{{!-- <p>
    The result of adderHelper([1,2,3,4,5,6,7,8,8,9]) is {{adderHelper numArray}}
</p> --}}
<p>
    The result of adderHelper([1,2,3,4,5,6,7,8,8,9]) is {{adderHelper numArray}}
</p>
<p>
    The result of adderHelper([1,2,3,4,5,6,7,8,8,9]) is {{adderHelper errorArray}}
</p>

<h2>EQ Function</h2>
<p>
    The result for num1===num3 using eq: {{eq num1 num3 }}
</p>

<p>
    The result for num2===num3 using eq: {{eq num2 num3 }}
</p>

<h2>GTE Function</h2>

<p>
    The result for num1>=num3 using eq: {{gte num1 num3 }}
</p>
<p>
    The result for num2>=num3 using eq: {{gte num2 num3 }}
</p>
<p>
    The result for num4>=num3 using eq: {{gte num4 num3 }}
</p>